@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --link-rgb: 11, 102, 167;
}

a {
  color: rgb(var(--link-rgb));
  cursor: pointer;
}

body {
  color: rgb(var(--foreground-rgb));
}

.tweet {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.profile-image {
  padding: 5px;
  margin: 0;
}

.profile-image img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}